{% extends 'user/base.html' %}

{% block main_content %}

<br>

<div class="container col-md-8">
    <div class="container mt-4">
       
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <h3 >Register</h3>
                <hr>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="fname" required placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="lname" required placeholder="Last name">
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="username" required placeholder="UserName"
                        id="exampleInputPassword1">
                </div>
                <div class="row">
                    <div class="col">
                        <input type="password" class="form-control" name="pass1" required placeholder="Password"
                            id="exampleInputPassword1">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" name="pass2" required placeholder="Confirm Password"
                            id="exampleInputPassword1">
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-outline-dark mr-3">Register</button>
                Already Have An account? <a href="{% url 'login' %}">Login</a>
            </form>
    </div>
    </div>
</div>
{% endblock %}